/* MentorShare CSS file */

/* Id */
#searchBar {
	float: left;
}

#menu {
	float: left;
	margin-right: 16px;
	margin-left: 8px;
}

/* Classes */
.btn-group {
	float: center;
}

.documentViewer {
	float: left;
	margin: 15px;
}

/* Broad css changes */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
	height: 200px;
	width: 223px;
}
